<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    .login-container {
      margin: auto;
      width: fit-content;
      padding: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
      cursor: pointer;
    }
    .head{
        text-align: center;
        margin-top: 100px;
    }
    .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    }
    .home{
      font-size: 20px;
    }
  </style>
</head>
<body style="background-color: bisque;">
  <div class="container">
    <a href="/home/" style="font-weight: bold;" class="home">Home Page </a>
    <h1 style="color: rgb(9, 177, 177);" class="head">Log in Here</h1>
    
    <div class="login-container"> 
      <form action="/login/" method="POST">
        {% csrf_token %}
        <table style="text-align: center;">
          <tr>
            <td>User Name</td>
            <td><input type="text" name="uid" class="form-control" autocomplete="off" required></td>
          </tr>

          <tr>
            <td>Password</td>
            <td><input type="password" name="psw" class="form-control" autocomplete="off" required ></td>
          </tr>
      
          <tr>
            <td><input type="submit" value="Submit" class="btn btn-primary"></td>
          </tr>
        </table>
      </form>
      
    </div>
    <br>
    <pre>
      
    </pre>
    <br>
    <img src="/static/forgot.gif" alt="login" height="200px" style="border-radius: 5px;" class="center">
  </div>
</body>
</html>